<?xml version="1.0" encoding="UTF-8" standalone="no"?><zwave-configuration><node generic="2" id="1" manufacturerid="-1" productid="-1" producttype="-1" specific="1"/><node generic="32" id="12" manufacturerid="-1" productid="-1" producttype="-1" specific="1"/><node generic="8" id="13" manufacturerid="-1" productid="-1" producttype="-1" specific="4"/></zwave-configuration>